@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive;
}


.todoItems p {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    border-radius: 30%;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.35) 0px -2px 6px 0px ; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(6,67,89);
    background: linear-gradient(90deg, rgba(6,67,89,1) 0%, rgba(2,0,36,1) 0%, rgba(9,106,121,0.9514399509803921) 54%, rgba(0,212,255,1) 100%);
}

.title {
    color: rgb(100, 181, 89);
    font-size: 72px;

}

.write {
    width: 30rem;
    height: 3rem;
    /* border: 2px solid rgb(94, 182, 0); */
    border-radius: 10%;
    background: rgb(0,0,0);
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(5,10,69,1) 100%, rgba(255,255,255,1) 100%);
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 1px 2px 0px rgba(0,255,255,0.7),
            1px 2px 4px 0px rgba(0,255,255,0.7),
            2px 4px 8px 0px rgba(0,255,255,0.7),
            2px 4px 16px 0px rgba(0,255,255,0.7);
}

.buttonColor {
    background-color: rgb(16, 27, 36);
    font-size: 28px;
    padding: 6px 2px 5px 2px;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 0px rgba(0, 255, 255, 0.7);

}

.todoItems {
    /* border: 2px solid orange; */
    border-radius: 10px;
    font-size: medium;
    color: rgb(255, 255, 255);
    margin: 7px 0px 5px 0px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.viewTodo {
    border-radius: 10%;
    font-size: 28px;
}